doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no")
    title Our super awesome game
    script(type="text/javascript", src="bower_components/platform/platform.js")
    script(type="text/javascript", src="bower_components/sweetalert/lib/sweet-alert.min.js")
    link(rel="import", href="bower_components/core-toolbar/core-toolbar.html")
    link(rel="import", href="bower_components/core-icons/core-icons.html")
    link(rel="import", href="bower_components/font-roboto/roboto.html")
    link(rel="import", href="bower_components/core-drawer-panel/core-drawer-panel.html")
    link(rel="import", href="bower_components/paper-icon-button/paper-icon-button.html")
    link(rel="import", href="bower_components/paper-dialog/paper-dialog-transition.html")
    link(rel="import", href="bower_components/paper-dialog/paper-dialog.html")
    link(rel="import", href="bower_components/paper-input/paper-input.html")
    link(rel="import", href="bower_components/paper-button/paper-button.html")
    link(rel="import", href="bower_components/paper-progress/paper-progress.html")
    link(rel="stylesheet", type="text/css", href="bower_components/sweetalert/lib/sweet-alert.css")
    link(rel="stylesheet", type="text/css", href="assets/css/main.css")
  body(fullbleed="", unresolved="")

    #preloader
      img(src="assets/img/preloader.gif", height="128", width="128", alt="")
    
    core-drawer-panel#drawerPanel

      #drawer-panel(drawer="")
        core-toolbar#navheader
          span Timeline
        #timeline_content

      #main-panel(main="")

        core-toolbar#mainheader
          paper-icon-button#navicon(icon="announcement")
          span(flex="") Our Fun Game

        .fight_area

          .creatures
            .player
              h1 DYMYNATOR
              paper-progress(value="70")
            .enemy
              h1 LIZZLE
              paper-progress(value="20")
        
          .select_attack
            h3 Choose an attack
            paper-button(raised) Habs-Hamster
            paper-button(raised) Scharfer Blick
            paper-button(raised) Beißerchen


    paper-dialog#dialog_choose_name(heading="Choose your Name", opened="false")
      p Choose wisely. You cannot change your name later.
      paper-input(value="Bob", required="true")
      paper-button(onclick="set_name()", affirmative="", autofocus="", role="button") Accept

    paper-dialog#dialog_choose_creature(heading="Choose your Creature and Language", opened="false")
      p
        | Choose wisely. The creature will determine the language you want to learn and your strengths and weaksnesses. As well as the part of the story you are going to play first.
      paper-button(onclick="set_character('Lizzle'); set_storyline('english');", raised="", role="button") English
      paper-button(onclick="set_character('Cricetinae'); set_storyline('latin');", raised="", role="button") Latin
      paper-button(onclick="set_character('Champagnier'); set_storyline('french');", raised="", role="button") French

    paper-dialog#dialog_backstory

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="assets/js/main.js")
