body {
  font-family: "RobotoDraft", Helvetica, Arial, sans-serif;
  color: black;
  opacity: 0.87; }

core-toolbar {
  background-color: #3f51b5;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 5px 0px; }

core-drawer-panel:not([narrow]) #navicon {
  display: none; }

.notification-element {
  opacity: 0.2;
  transition: all 2s ease;
  margin: 15px 0px 15px 5px; }

paper-dialog {
  margin-left: auto !important;
  margin-right: auto !important;
  top: 30%; }

div.fight_area > .creatures > .player {
  display: inline-block;
  float: left;
  margin: 5px; }

div.fight_area > .creatures > .enemy {
  display: inline-block;
  float: right;
  margin: 5px 20px 5px 5px; }

.fight_area > .creatures > .player > h1 > span.lvl, .fight_area > .creatures > .enemy > h1 > span.lvl {
  font-size: 0.5em; }
  .fight_area > .creatures > .player > h1 > span.lvl::before, .fight_area > .creatures > .enemy > h1 > span.lvl::before {
    content: " "; }

.fight_area > .creatures > .player > h1 > span.name, .fight_area > .creatures > .enemy > h1 > span.name {
  text-transform: uppercase; }

div.select_attack {
  padding: 10px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10px; }

.select_attack > paper-button {
  margin: 10px; }

.select_attack > h3 {
  margin-left: 10px; }

#timeline_content {
  padding: 2px; }

#drawer-panel {
  background-color: white; }

.dpn {
  display: none; }

.core-tooltip {
  white-space: normal;
  width: 100%;
  line-height: normal; }

.notification-element:nth-of-type(1) {
  opacity: 1;
  margin-top: 4px; }
.notification-element:nth-of-type(2), .notification-element:nth-of-type(3) {
  opacity: 0.9; }
.notification-element:nth-of-type(4) {
  opacity: 0.8; }
.notification-element:nth-of-type(5) {
  opacity: 0.7; }
.notification-element:nth-of-type(6) {
  opacity: 0.6; }
.notification-element:nth-of-type(7) {
  opacity: 0.5; }
.notification-element:nth-of-type(8) {
  opacity: 0.4; }
.notification-element:nth-of-type(9) {
  opacity: 0.3; }
.notification-element:nth-of-type(10) {
  opacity: 0.2; }

@media (max-width: 400px) {
  div.fight_area > .enemy {
    float: left; } }
@media (min-width: 1001px) {
  paper-dialog {
    width: 50%; } }
@media (min-width: 601px) {
  paper-dialog {
    max-width: 75%;
    margin: 0 auto; } }
